<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="ZendSkeletonApplication Test Suite">
            <directory>./module/Application/test</directory>
        </testsuite>
        <testsuite name="User Test Suite">
            <directory>./module/User/test</directory>
        </testsuite>
        <testsuite name="Quote Test Suite">
            <directory>./module/Quote/test</directory>
        </testsuite>
        <testsuite name="Publication Test Suite">
            <directory>./module/Publication/test</directory>
        </testsuite>
        <testsuite name="Language Test Suite">
            <directory>./module/Language/test</directory>
        </testsuite>
        <testsuite name="BloodDonation Test Suite">
            <directory>./module/BloodDonation/test</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="APPLICATION_PATH" value="/var/www/html/lifeorganizer" />
        <server name="APPLICATION_ENV" value="tests" />
    </php>
</phpunit>
