body
{
  font-family: Helvetica, sans-serif;
}

.alert > ul {
  list-style-type:none;
}

.app-content-subtitle {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #606056;
  color: white;
}

.app-content-title {
  margin-top: 10px;
  text-align: center;
  border-bottom: 1px solid grey;
}

.app-header-row
{
  background-image: linear-gradient(#58554D,#3F3E39);
  padding-bottom: 10px;
  padding-top: 5px;
}

.app-name
{
  font-size: 26px;
  font-weight: 600;
  text-shadow: 1px 0.5px black;
  color: silver;
}

.app-datetime
{
  color: lightgrey;
  font-size: 13px;
  font-weight: bold;
  text-shadow: 1px 0.5px black;
}

.app-user-button
{
  font-size: 30px;
  color: silver;
  padding-bottom: 5px !important;
}

.app-info-bar
{
  min-height: 40px;
  color: white;
  background-image: linear-gradient(#54514A, #65625B);
}

.app-breadcrumbs-bar
{
  background-image: linear-gradient(#54514A, #434343);
  min-height: 40px;
  color: lightgrey;
  font-size: 14px;
}

.app-calendar-btn
{
  color: lightgrey;
}

.app-sidebar
{
  background: #54514A;
}

.app-list-group-item
{
  background: #606056;
  color: lightgrey;
}

.app-sidebar-border
{
  border-bottom: 1px solid;
  border-color: #54514A !important;
}

.app-sidebar-btn
{
  width: 100%;
  color: white;
  text-align: left;
  box-shadow: none !important;
}

.app-content
{
  font-size: 14px;
}

.app-footer
{
  font-size: 14px;
}

.background-bad {
  background: rgba(255,100,100,0.2) !important;
}

.background-good {
  background: rgba(100,200,100,0.2) !important;
}

.blood-donation-stats-section {
  border-bottom: 1px solid lightgrey;
}

.bookmarks-bar {
  padding-bottom: 10px;
}

.breadcrumb {
  list-style: none;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #777;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.dataTables_info {
  font-size: 12px;
}

.link-light:hover {
  color: #212529;
}

.page-link {
  color: #fff;
  background-color: #6c757d;
  border-radius: .2rem;
}

.page-link:focus {
  outline: none;
  box-shadow: none;
  background-color: #5c636a;
  border-color: #565e64;
  color: #fff;
}

.page-link:hover {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.page-item.active .page-link {
  color: #fff;
  background-color: #5c636a;
  border: none;
}

.pagination {
  font-size: 12px;
}

.stats-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}

#quote {
  resize: none;
  margin-bottom: 10px;
}

.countryflag {
  height: 15px;
  width: 20px;
  box-shadow: 1px 1px 1px 1px grey;
}

@media only screen and (max-width: 768px) {
  .app-breadcrumbs-bar {
    margin:0;
    font-size: 10px;
  }
  .btn-sm {
    font-size: .500rem;
  }

  table.dataTable {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  table.dataTable {
    font-size: 9px;
  }
  .btn-sm {
    font-size: .600rem;
    display: block;
    margin-bottom: 5px;
    margin-left: 3%;
    margin-right: 3%;
  }
  .countryflag {
    height: 8px;
    width: 12px;
    box-shadow: 0.5px 0.5px 0.5px 0.5px grey;
  }

}
